<a href="https://colab.research.google.com/github/NGUYENNGOCPHAN-20146512/AI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
with open('text.txt',mode='w') as accounts:
  accounts.write('Nguyen Ngoc Phan 20146512 10\n')
  accounts.write('Nguyen Ngoc Phan 20146512 10\n')

In [9]:
with open('text1.txt',mode='w') as accounts:
  print('20146512 NGUYEN NGOC PHAN',file =accounts)

In [10]:
with open('text1.txt',mode='r') as accounts:
  print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    mssv,name,score=record.split()
    print(f"{mssv:<10}{name:<20}{score:>2}")

MSSV      Name                Score

ValueError: ignored

In [22]:
import pandas as pd
url='/content/Data.csv'
dataframe=pd.read_csv(url)
dataframe.head(21)
dataframe=dataframe.set_index(dataframe['Name'])
dataframe.loc['Nguyen Van A']
dataframe['Name']='Nguyễn Văn A'

KeyError: ignored

In [18]:
dataframe=dataframe.set_index(dataframe['Full Name'])
dataframe.loc['Nguyen Van A']

KeyError: ignored

In [31]:
import pandas as pd
url = '/content/Data.csv'
dataframe = pd.read_csv(url)
dataframe.drop('STT',axis=1).head(10)

       MSSV           Name        Khoa  Score
0  20146512   Nguyễn Văn A       CKCTM      9
1  19651513       Võ Thị B     Kinh tế      8
2  17146514     Trần Văn C  Thời trang      7
3  18146515       Lê thị D       CKCTM      9
4  19146516  Nguyễn Ngọc E          ĐL      8
5  19146517     Đoàn Văn F          ĐL      7
6  19146518     Trần Thị G  Thời trang      8
7  18146519   Nguyễn Văn H     Kinh tế      7
8  19146520       Võ Thị I       CKCTM      5
9  19146521     Trần Văn K  Thời trang      7

In [34]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

   STT      MSSV  Score
0    1  20146512      9
1    2  19651513      8
2    3  17146514      7
3    4  18146515      9
4    5  19146516      8
5    6  19146517      7
6    7  19146518      8
7    8  18146519      7
8    9  19146520      5
9   10  19146521      7

In [35]:
dataframe[dataframe['Khoa']!='CKCTM'].head(10)

    STT      MSSV           Name        Khoa  Score
1     2  19651513       Võ Thị B     Kinh tế      8
2     3  17146514     Trần Văn C  Thời trang      7
4     5  19146516  Nguyễn Ngọc E          ĐL      8
5     6  19146517     Đoàn Văn F          ĐL      7
6     7  19146518     Trần Thị G  Thời trang      8
7     8  18146519   Nguyễn Văn H     Kinh tế      7
9    10  19146521     Trần Văn K  Thời trang      7
10   11  20146522       Lê thị L     Kinh tế      8
11   12  20146523  Nguyễn Ngọc M     Kinh tế      9
13   14  18146525     Trần Thị Y        Điện      4

In [36]:
dataframe[dataframe.index !=7].head(10)

    STT      MSSV           Name        Khoa  Score
0     1  20146512   Nguyễn Văn A       CKCTM      9
1     2  19651513       Võ Thị B     Kinh tế      8
2     3  17146514     Trần Văn C  Thời trang      7
3     4  18146515       Lê thị D       CKCTM      9
4     5  19146516  Nguyễn Ngọc E          ĐL      8
5     6  19146517     Đoàn Văn F          ĐL      7
6     7  19146518     Trần Thị G  Thời trang      8
8     9  19146520       Võ Thị I       CKCTM      5
9    10  19146521     Trần Văn K  Thời trang      7
10   11  20146522       Lê thị L     Kinh tế      8

In [37]:
dataframe.drop_duplicates().head(10)

   STT      MSSV           Name        Khoa  Score
0    1  20146512   Nguyễn Văn A       CKCTM      9
1    2  19651513       Võ Thị B     Kinh tế      8
2    3  17146514     Trần Văn C  Thời trang      7
3    4  18146515       Lê thị D       CKCTM      9
4    5  19146516  Nguyễn Ngọc E          ĐL      8
5    6  19146517     Đoàn Văn F          ĐL      7
6    7  19146518     Trần Thị G  Thời trang      8
7    8  18146519   Nguyễn Văn H     Kinh tế      7
8    9  19146520       Võ Thị I       CKCTM      5
9   10  19146521     Trần Văn K  Thời trang      7

In [40]:
dataframe.groupby('Khoa').count()

            STT  MSSV  Name  Score
Khoa
CKCTM         6     6     6      6
Kinh tế       5     5     5      5
Thời trang    4     4     4      4
ĐL            2     2     2      2
Điện          3     3     3      3

In [41]:
dataframe.groupby('Khoa')['Score'].count()

Khoa
CKCTM         6
Kinh tế       5
Thời trang    4
ĐL            2
Điện          3
Name: Score, dtype: int64

In [47]:
import pandas as pd
import numpy as np
time_index=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14483
2023-01-08        100474
2023-01-15        100905
2023-01-22        100797
2023-01-29        100781
2023-02-05         82697

In [48]:
dataframe.resample('2W').mean()

            Acess_Amount
2023-01-01      5.028819
2023-01-15      4.994519
2023-01-29      4.999454
2023-02-12      5.018022

In [59]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data[data['NOC']=='CAN'].value_counts()

Year  City            Sport       Discipline      NOC  Event            Event gender  Medal
1924  Chamonix        Ice Hockey  Ice Hockey      CAN  ice hockey       M             Gold      1
1998  Nagano          Skating     Speed skating   CAN  500m             W             Gold      1
2002  Salt Lake City  Skating     Short Track S.  CAN  500m             M             Gold      1
                                                       5000m relay      M             Gold      1
                                                       3000m relay      W             Bronze    1
                                                                                               ..
1984  Sarajevo        Skating     Speed skating   CAN  1000m            M             Gold      1
                                  Figure skating  CAN  individual       M             Silver    1
1980  Lake Placid     Skiing      Alpine Skiing   CAN  downhill         M             Bronze    1
                      Skating     Speed skating   CAN  1000m            M             Silver    1
2006  Turin           Skiing      Snowboard       CAN  Snowboard Cross  W             Bronze    1
Length: 119, dtype: int64

In [58]:
data[(data['Event']=='individual') & (data['Medal']=='Gold')].head(2300)
data[(data['Event']=='individual') & (data['Medal']=='Gold')].value_counts()

Year  City       Sport    Discipline       NOC  Event       Event gender  Medal
1924  Chamonix   Skating  Figure skating   AUT  individual  W             Gold     1
1972  Sapporo    Skating  Figure skating   TCH  individual  M             Gold     1
1976  Innsbruck  Skating  Figure skating   GBR  individual  M             Gold     1
                                           USA  individual  W             Gold     1
                 Skiing   Nordic Combined  GDR  individual  M             Gold     1
                                                                                  ..
1964  Innsbruck  Skating  Figure skating   NED  individual  W             Gold     1
                 Skiing   Nordic Combined  NOR  individual  M             Gold     1
1968  Grenoble   Skating  Figure skating   AUT  individual  M             Gold     1
                                           USA  individual  W             Gold     1
2006  Turin      Skating  Figure skating   RUS  individual  M             Gold     1
Length: 65, dtype: int64

In [61]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data.groupby('NOC')['Medal'].count()

NOC
AUS      6
AUT    185
BEL      5
BLR      6
BUL      6
CAN    119
CHN     33
CRO      7
CZE     10
DEN      1
ESP      2
EST      6
EUA     19
EUN     23
FIN    151
FRA     83
FRG     41
GBR     21
GDR    110
GER    158
HUN      6
ITA    101
JPN     32
KAZ      5
KOR     31
LAT      1
LIE      9
LUX      2
NED     78
NOR    280
NZL      1
POL      8
PRK      2
ROU      1
RUS     76
SLO      4
SUI    118
SVK      1
SWE    118
TCH     25
UKR      5
URS    194
USA    216
UZB      1
YUG      4
Name: Medal, dtype: int64